bumpversion==0.5.3
coverage==4.5.1
mypy==0.630
pip==18.1
pylint==2.1.1
{% if cookiecutter.use_pytest == 'y' -%}
pytest==3.8.2
pytest-runner==4.2{% endif %}
Sphinx==1.8.1
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-fulltoc==1.2.0
tox==3.5.2
twine==1.12.1
watchdog==0.9.0
wheel==0.32.1

ipython
pudb
